Source: sonic
Maintainer: Broadcom
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 9), autotools-dev
Standards-Version: 1.0.0

Package: stp
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains STP for SONiC project.

Package: stp-dbg
Architecture: any
Section: debug
Priority: extra
Depends: stp (=${binary:Version})
Description: debugging symbols for stp

